# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

# API-ключи
API_KEY_APILayer=your_api_key_here
GITHUB_TOKEN=your_github_token_here
API_KEY_Alpha_Vantage=your_Alpha_Vantage_here