[flake8]
# максимальная длина строки в 119 символов
max-line-length = 119
# игнорирование ошибок E203 и W503
ignore = E203, W503
# исключение из анализа директорий __pycache__ venv, и .venv
exclude = .git, __pycache__, venv, .venv